<!DOCTYPE html>
<html>
<head>
    <title>Login - HELIX</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="centered-container">
    <div class="orb"></div><div class="orb"></div>

    <div class="card">
        <h2>HELIX Login</h2>

        <form method="POST">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>

            <button type="submit">Login</button>
        </form>

        <p class="msg">{{ msg }}</p>

        <a class="link" href="/signup">Create Account</a>
        <a class="link" href="/forgot">Forgot Password?</a>
        <a class="link" href="/unlock">Unlock Account</a>
    </div>
</div>

</body>
</html>
