<!DOCTYPE html>
<html>
<head>
    <title>Security Settings - HELIX</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="dashboard-container">
    <h2>Security Settings</h2>

    <div class="box">

        <a class="link" href="/change_password">Change Password</a>
        <a class="link" href="/change_security_questions">Update Security Questions</a>
        <a class="link" href="/trusted_devices">Manage Trusted Devices</a>
        <a class="link" style="color:#ff8080" href="/logout_all_devices">
            Sign Out From ALL Devices
        </a>

        <a class="link" href="/dashboard">Back to Dashboard</a>
    </div>
</div>

</body>
</html>
